

  <%= form_with(model: redirect_url, local: true) do |form| %>
      <% if redirect_url.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(redirect_url.errors.count, "error") %> prohibited this redirect_url from being saved:</h2>

            <ul>
              <% redirect_url.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= form.label :from %>
        <%= form.text_field :from, id: :redirect_url_from, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :to %>
        <%= form.text_field :to, id: :redirect_url_to, class: "form-control" %>
      </div>

      </br>

      <div class="actions">
        <%= form.submit 'Create Url rule', class: "btn btn-default btn-primary" %>
      </div>
  <% end %>
