<p id="notice"><%= notice %></p>

<h1>Redirect Urls</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @redirect_urls.each do |redirect_url| %>
      <tr>
        <td><%= redirect_url.from %></td>
        <td><%= redirect_url.to %></td>
        <td><%= link_to 'Show', redirect_url %></td>
        <td><%= link_to 'Edit', edit_redirect_url_path(redirect_url) %></td>
        <td><%= link_to 'Destroy', redirect_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Redirect Url', new_redirect_url_path %>
